html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #000000 #242424;
    
}

body {
    margin: 0;
    font-family: "Jost";
    background: linear-gradient(180deg, #000 0%, #252626 100%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;

}